Head {
    text-align: left;
      <style>
    html, body {
      cursor: url('cursor.cur'), auto; 
    }
   
    </style>
}

body {
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 400px;
    background-color: #f4f4f4;

  

}
h1 {
    color: #333;
}
