body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f4f4f4;

    cursor: url('https://github.com/leehojeonglee/leehojeonglee.github.io./blob/main/cursor.png'), auto;

}
h1 {
    color: #333;
}
